.container{
  background-image:url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
}
.row{
  display: flex;
  flex-direction: row;
  margin-left: 30%;
}
.about{
  padding: 30px;
}
.instruct{
  padding: 30px;
  padding-left: 60px;
}
.rules{
  padding: 30px;
  padding-left: 60px;
}

.main{
  background-color: pink;
  background-size: 30%;
  padding: 20px;
  border-radius: 9px 9px 9px 9px;
}
.new{
  display: flex;
  flex-direction: row;
  margin-left: 40%;
  padding-bottom:20px;
}
.new img{
  border-radius: 50%;
}
.content{
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yeon Sung', cursive;
  color: black;
}
.content{
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.ab{
  padding: 10px;
  border:1px solid black;
  border-radius: 7px 7px 7px 7px;
}
.ins{
  padding: 10px;
  border:1px solid black;
  border-radius: 7px 7px 7px 7px;
}
.rul{
  padding: 10px;
  border:1px solid black;
  border-radius: 7px 7px 7px 7px;
}
.player{
  display: flex;
  flex-direction: row;
}
.one{
  margin-left: 20%;
}
.two{
  margin-left: 40%;
}
.button{
  margin-left: 45%;
}
.total{
  background-color: grey;
  padding-bottom: 50px;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  box-shadow:2px 3px 4px orange;

}
.current{
  background-color: grey;
  padding-bottom: 50px;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  margin-top: 10px;
  box-shadow:2px 3px 4px orange;
}
button{
  color:white;
  background-color:green;
  border-radius:7px 7px 7px 7px;
  box-shadow:2px 3px 4px blue;
}
