.container{
  background-image:url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
}
.row{
  display: flex;
  flex-direction: row;
  margin-left: 30%;
}
.about{
  padding: 30px;
}
.instruct{
  padding: 30px;
  padding-left: 60px;
}
.rules{
  padding: 30px;
  padding-left: 60px;
}

.main{
  background-color: pink;
  padding: 20px;
}
.new{
  display: flex;
  flex-direction: row;
}
.new img{
  border-radius: 50%;
}
.text{
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yeon Sung', cursive;
  color: black;
}
.content{
  display: flex;
  flex-direction: row;
}
.ab{
  padding: 10px;
  border:1px solid black;
  border-radius: 7px 7px 7px 7px;
}
.ins{
  padding: 10px;
  border:1px solid black;
  border-radius: 7px 7px 7px 7px;
}
.rul{
  padding: 10px;
  border:1px solid black;
  border-radius: 7px 7px 7px 7px;
}
